development: &default
  adapter: mysql2
  encoding: utf8
  database: pricessless_l_development
  host: localhost
  username: root
  password: ""

test: &TEST
  <<: *default
  database: pricessless_l_test

